* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

body {
    background-color: #121214;
    background-image:linear-gradient(90deg, #121214, #292930);
    background-position: top center;
    background-size: cover; 
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    display: none;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
    color: white;
    text-align: center;
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #4915e8 0%, #14c9e1 50.52%, #8eefc0 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1)
}

header div img {
    width: 100%;
    border-radius: 50%;
}

header h1{
    margin-bottom: 10px;
}
main {
    max-width: 580px;
    width: 90%;
    margin: 70px auto;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #4915e8 0%, #14c9e1 50.52%, #8eefc0 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #3f3d42;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h1 {
    color: red;
}

section h2 {
    letter-spacing: -0.47px;
}
 section h3 {
    letter-spacing: -0.47px;
    text-align: center;
 }
section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1)
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.adms-list img {
    border-radius: 50%; 
    width: 70px;
    border: 1px solid #443E54;
}

.events-list{
    text-align: center;
    margin: 10px;
}
.events-list ul {
    justify-content: center;
}
.events-list li {
    margin-bottom: 20px; 
}
.events-list img {
    margin: 10px;
    border-radius: 8px;
}
.events-list a {
    text-decoration: none;
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    animation: pulse 1s infinite; 
}

.events-list a:hover {
    background: linear-gradient(to right, #FF4B2B, #FF416C); 
    transform: scale(1.1)
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes pulse {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(200%);
    }
    100% {
        filter: brightness(100%);
    }
}